$blue-background: #e7f6ff;
$white: #fff;
$white-gray: #eaeaea;
$seacrh-area: #f3f3f3;
$green-button-buy: #9dd558;
$cart-background: #dfdfdf;

body {
  margin: 0;
  background: $blue-background;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: $white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid $white-gray;
  img {
    margin-right: 15px;
  }
}

h3,
p {
  margin: 0;
}

.content {
  h1 {
    margin: 0;
  }
}

.seacrh-block {
  position: relative;
  border: 1px solid $seacrh-area;
  border-radius: 10px;
  padding: 0 15px;

  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed $cart-background;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;

    &:disabled {
      animation: button-loading 0.7s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: $green-button-buy;
  border-radius: 18px;
  border: 0;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

  &:hover {
    background: lighten($green-button-buy, 5%);
  }

  &:active {
    background: darken($green-button-buy, 5%);
  }
}
.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }
  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
.cartItem {
  border: 1px solid $seacrh-area;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 -5px;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
